<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel name="leftpanel" content="leftnav" columnwidth="2"></wm-left-panel>
        <wm-page-content name="mainContent" columnwidth="8" paddingright="15" paddingleft="15">
            <wm-livegrid name="livegrid1" formlayout="dialog" service="hrdb@User">
                <wm-grid title="USER LIST" name="grid1" dataset="bind:Variables.HrdbUserData.dataSet" readonlygrid="false" insertrow="true" updaterow="true" deleterow="true" gridfirstrowselect="true">
                    <wm-grid-column type="integer" caption="Userid" primary-key="true" mobiledisplay="true" pcdisplay="true" generator="identity" binding="userid"></wm-grid-column>
                    <wm-grid-column type="string" caption="Username" mobiledisplay="true" pcdisplay="true" generator="assigned" binding="username"></wm-grid-column>
                    <wm-grid-column type="string" caption="Password" mobiledisplay="true" pcdisplay="true" generator="assigned" binding="password"></wm-grid-column>
                    <wm-grid-column type="string" caption="Role" mobiledisplay="true" pcdisplay="true" generator="assigned" binding="role"></wm-grid-column>
                    <wm-grid-column type="integer" caption="Tenantid" mobiledisplay="true" pcdisplay="true" generator="assigned" binding="tenantid"></wm-grid-column>
                </wm-grid>
                <wm-liveform title="USER INFO" name="liveform1" dataset="bind:Variables.HrdbUserData.dataSet" formlayout="dialog" novalidate="false" captionalign="left" captionposition="left">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn name="gridcolumn1" show="hide" columnwidth="12">
                                <wm-form-field type="integer" name="userid" show="false" widget="number" primary-key="true" generator="identity" mobile-display="true" pc-display="true" is-related="false" key="userid" required="true" displayname="Userid"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn2" show="show" columnwidth="12">
                                <wm-form-field type="string" name="username" show="true" widget="text" primary-key="false" generator="assigned" mobile-display="true" pc-display="true" is-related="false" key="username" required="false" displayname="Username"
                                maxchars="20"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn name="gridcolumn3" show="show" columnwidth="12">
                                <wm-form-field type="string" name="password" show="true" widget="text" primary-key="false" generator="assigned" mobile-display="true" pc-display="true" is-related="false" key="password" required="false" displayname="Password"
                                maxchars="20"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn name="gridcolumn4" show="show" columnwidth="12">
                                <wm-form-field type="string" name="role" show="true" widget="text" primary-key="false" generator="assigned" mobile-display="true" pc-display="true" is-related="false" key="role" required="false" displayname="Role" maxchars="20"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn name="gridcolumn5" show="show" columnwidth="12">
                                <wm-form-field type="integer" name="tenantid" show="true" widget="number" primary-key="false" generator="assigned" mobile-display="true" pc-display="true" is-related="false" key="tenantid" required="false" displayname="Tenantid"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5"></wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action class="form-cancel btn-secondary" type="button" show="true" iconclass="glyphicon glyphicon-remove-circle" key="cancel" update-mode="true" display-name="Cancel" action="cancel()"></wm-form-action>
                    <wm-form-action class="form-save btn-success" type="submit" show="true" iconclass="glyphicon glyphicon-save" key="save" update-mode="true" display-name="Save"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite2">
                <wm-label class="col-md-3 control-label" name="label2"></wm-label>
                <wm-container class="col-md-9" name="container2">
                    <wm-text name="text2"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-button class="btn-default" caption="Button" type="button" name="button1" on-click="GoogleapisInvoke"></wm-button>
            <wm-label name="label3" caption="bind:Variables.GoogleapisInvoke.dataSet.route.leg.distance.text"></wm-label>
            <wm-prefab prefabname="googlemaps" name="googlemaps1" locations="bind:Variables.GoogleapisInvoke.dataSet.route.leg.step" lat="start_location.lng" lng="end_location.lng" origin="bind:Widgets.text1.datavalue" destination="bind:Widgets.text2.datavalue"></wm-prefab>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>